<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity
    Name="f4ef4024-a5dd-4cd3-b2af-2367770d211e"
    Version="1.0.0.0"
    Publisher="CN=nikolame" />

  <Properties>
    <DisplayName>FlipFlap.Xbox (Windows)</DisplayName>
    <PublisherDisplayName>nikolame</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

      <VisualElements
        DisplayName="FlipFlap.Xbox (Windows)"
        Logo="images\logo.png"
        SmallLogo="images\smalllogo.png"
        Description="FlipFlap.Xbox (Windows)"
        ForegroundText="light"
        BackgroundColor="#464646">

        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />

      </VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
